[providers]
python = "3.11"

[phases.setup]
nixPkgs = ['python311', 'gcc', 'libstdcxx5']

[phases.install]
cmds = ['pip install --upgrade pip', 'pip install -r requirements.txt']

[phases.build]
cmds = []

[start]
cmd = 'cd archaeological-classifier && python3 -m acs.api.app'
